:root {
    --primary--font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --logo-color: #4D5AE5;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --footer-color: #E7E9FC;
    --btn-menu: #FFFFFF;
    --background-color: #404BBF;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


body {
    color: var(--primary-text-color);
    background-color: var(--btn-menu);
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--primary--font)
}

.header-top {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.list-contact {
    display: flex;
    gap: 40px;
}

.list-work {
    width: 360px;
}


.list-photo-img {
    width: 360px;
}

/*=============MAIN WEBSTUDIO=================*/
.section-bg {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--primary-text-color);
}

.section-btn {
    padding-top: 96px;
    padding-bottom: 120px;
}

.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 1440px;
    height: 732px;
    background-color: #F4F4FD;
}

.menu-list-interface {
    display: flex;
    gap: 24px;
}

.main-title {
    font-size: 56px;
    line-height: 1;
    text-align: center;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.02em;
    color: var(--btn-menu)
}

.section-inteface {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*=============/MAIN WEBSTUDIO=================*/


.description-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--primary-text-color)
}


/*=============SECTION TEAM=================*/
.name-tile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 32px;
    color: var(--primary-text-color)
}

.position-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 8px;
    color: var(--secondary-text-color)
}

/*=============/SECTION TEAM=================*/
/*=============HEADER WEBSTUDIO/PORTFOLIO=================*/

.logo-web {
    color: var(--logo-color)
}

.header-logo {
    padding: 24px 0;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 76px;
    text-transform: uppercase;
    color: var(--primary-text-color)
}

.header-container {
    display: flex;
    align-items: center;
}

.address-list {
    font-style: normal;
    margin-left: auto;
}

.contact link {
    padding: 24px 0;
    display: block;
    font-style: normal;
}

.menu-link {
    padding: 24px 0;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    color: var(--primary-text-color)
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
    ;
}

.contact {
    letter-spacing: 0.02em;
    color: var(--secondary-text-color)
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

/*=============/HEADER WEBSTUDIO/PORTFOLIO=================*/

/*================button PORTFOLIO================*/

.btn-menu {
    font-family: var(--primary--font);
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: var(--btn-menu);
    background-color: var(--logo-color);
}

.btn-menu:hover,
.btn-menu:focus {
    border-color: transparent;
    color: var(--btn-menu);
    background: var(--background-color)
}

.btn-menu-portfolio {
    font-family: var(--primary--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--logo-color);
    background-color: #F4F4FD;
    padding: 12px 24px;
    height: 48px;

}

.btn-menu-portfolio:hover,
.btn-menu-portfolio:focus {
    color: var(--btn-menu);
    background: var(--background-color)
}

.list-btn {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/*================/button PORTFOLIO================*/

/*==================LIST WORK=================*/


.container-work {
    padding: 32px 16px;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.list-menu-work {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin-top: 84px;
    justify-content: center;
}


.section-photo {
    padding-bottom: 120px;
}

/*=========================LIST WORK=====================*/

/*================/INTERFACE PORTFOLIO================*/

.interface-list {
    max-width: 264px;
}

.interface-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}

.interface-text {
    letter-spacing: 0.02em;
    margin-top: 8px;
    color: var(--secondary-text-color)
}

.list-team {
    background-color: #FFFFFF;
    width: 264px;
    padding-bottom: 32px;
}

/*================/INTERFACE PORTFOLIO================*/



.list-photo {
    display: flex;
    gap: 24px;
    justify-content: center;
}


.list-team-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/*================FOOTER PORTFOLIO================*/

.footer {
    padding: 100px 0;
    background-color: var(--primary-text-color);
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--btn-menu)
}

.footer-text {
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
    color: var(--footer-color)
}

/*================/FOOTER PORTFOLIO================*/